.certificates {
  height: 100%;
  width: 100%;
  background: linear-gradient(90.11deg, #8686fa 0%, #e70b84 100%);
  margin: auto;
}

.aws {
  height: 77vh;
  width: 77vw;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
  background: linear-gradient(90.11deg, #e70b84 0%, #8686fa 100%);
  margin-bottom: 40px;
}
.aws h1 {
  color: #fff;
}
.webdevlopment,
.react {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.react,
.webdevlopment {
  height: 80%;
  width: 80%;
}

.webdevlopment img,
.react img {
  width: 100%;
  height: 100%;
  background-position: fixed;
  background-size: cover;
  margin-bottom: 40px;
}
