.footer {
  width: 100%;
  height: 90vh;
  margin: auto;
  /* background-color: #034a57; */
  /* background-color: #600186; */
  background-color: #000;
  /* background: linear-gradient(to bottom, #000046 0%, #1cb5e0 100%); */
  background-color: #000046;
  /* background: linear-gradient(90.11deg, #8686fa 0%, #e70b84 100%); */

  background: linear-gradient(to top, #048383e6, rgba(0, 0, 0, 1));

  text-align: center;
  /* padding-top: 100px; */
}
.footer h1 {
  color: #fff;
}
.footer-item {
  padding-bottom: 100px;
  width: 100%;
  display: flex;
  color: #eee;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-links {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.footer-links h3 {
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 20px;
}
.footer-link {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 18px;
  color: #aaa;
  transition: all 0.4s;
  line-height: 2;
  padding: 10px 20px;
  border-radius: 5px;
}
.footer-link:hover {
  color: #fff;
  font-weight: 500;
  /* background-color: #6de5fa; */
}
.vertical {
  margin-top: 100px;
}

.footer-bottom {
  position: relative;
  bottom: -81px;
  width: 100%;
  background-color: #000;
  background-color: #e6e6e6;

  /* background: linear-gradient(to bottom, #048383e6, rgba(0, 0, 0, 1)); */
  /* background: linear-gradient(90.11deg, #8686fa 0%, #e70b84 100%); */

  padding: 70px 0px;
  /* background-color: #000; */
  color: #000000;
  z-index: 999;
}
.footer-bottom h1 {
  color: #333;
}

@media screen and (max-width: 760px) {
  hr {
    display: none;
  }
  .footer {
    height: 100%;
  }
  .footer-item {
    padding: 50px 0px;
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}
